img{
	max-width: 100%
}
.bioimage {
	background-color: white;
	border: 1px solid darkGray;
	display: block;
	padding: 4px;
	position: relative;
}

#primary{
	width:40%;
	float:left;
}

#secondary{
	width: 40%;
	float: right;
}

.contact-info{
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 0.9em;
}

.contact-info a{
	display: block;
	min-height: 20px;
	background-repeat: no-repeat;
	background-size: 20px 20px;
	padding: 0 0 0 30px;
	margin: 0 0 10px;
}

.contact-info li.phone a{
	background-image: url('../img/phone.png');

}
.contact-info li.mail a{
	background-image: url('../img/mail.png');
	
}

body{
	background-color: #fff;
	color:#999;
}

label{
	display: block;
	margin-bottom: 8px;
}
fieldset{
	margin-bottom: 30px;
	border:none;
}

button{
	padding:10px 30px 10px 30px;
	color:#FFF;
	background-color: #4bc970;
	font-size: 18px;
	text-align: center;
	font-style: normal;
	border-radius: 5px;
	border:1px solid #3ac162;
	border-width: 1px 1px 3px;
	box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
	margin-bottom: 10px;
}
form {
	width:100%;
	float:left;
	padding: 10px 0;
	border-radius: 8px;
}

@media screen and (min-width: 480px){
	form {
		max-width: 480px;
	}
}

input[type="text"],
input[type="email"],
textarea{
	background:rgba(255,255,255,0.1);
	border:none;
	font-size: 16px;
	height: auto;
	margin: 0;
	outline: 0;
	width: 100%;
	background-color: #e8eeef;
	color:#8a97a0;
	box-shadow: 0 1px 0 rgba(0,0,0,0.03)inset;
}