img{
	max-width: 100%
}
.bioimage {
	background-color: white;
	border: 1px solid darkGray;
	display: block;
	padding: 4px;
	position: relative;
}

#primary{
	width:40%;
	float:left;
}

#secondary{
	width: 40%;
	float: right;
}

.contact-info{
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 0.9em;
}

.contact-info a{
	display: block;
	min-height: 20px;
	background-repeat: no-repeat;
	background-size: 20px 20px;
	padding: 0 0 0 30px;
	margin: 0 0 10px;
}

.contact-info li.phone a{
	background-image: url('../img/phone.png');

}
.contact-info li.mail a{
	background-image: url('../img/mail.png');
	
}

body{
	background-color: #fff;
	color:#999;
}

label{
	display: block;
	margin-bottom: 8px;
}
fieldset{
	margin-bottom: 30px;
	border:none;
}

button{
	padding:19px 39px 18px 39px;
	color:#FFF;
	background-color: #4bc970;
	font-size: 10px;
	text-align: center;
	font-style: normal;
	border-radius: 5px;
	width: 100%;
	border:1px solid #3ac162;
	border-width: 1px 1px 3px;
	box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
	margin-bottom: 10px;
}
form {

	float:left;
	padding: 10px 20px;
	border-radius: 8px;
}